body {
  background-color: #FFFFFF;
  height: 100%
}

.container {
  height: 100%;
  position: relative;
}

.col-md-6 {
  display: table;
  height: 100vh;
  position: relative;
}

.inner {
  height: 100%;
  display: table-cell;
  vertical-align: middle;
}

#cat {
  display: block;
  margin: 40px auto;
  height: 500px;
  background-color: beige;
  position: relative;
}
