body {
  background-color: #FFFFFF;
  height: 100%
}

label {
  font-size: 18px;
  vertical-align: middle;
}

.container {
  height: 100%;
  position: relative;
}

.modifier {
  width: 150px;
  height: 45px;
  margin-left: 15px;
  font-size: 18px;
}

.row {
  margin-top: 20px;
  margin-bottom: 20px;
}

#reset-color {
  display: inline-block;
  margin: 0 auto;
  float: right;
  height: 50px;
  width: 175px;

}

#cat-image {
  display: block;
  margin-top: 150px;
  margin-bottom: 50px;
  margin-left: 150px;
  height: 500px;
  background-color: beige;
  position: relative;
}

/* Color Customization */

.color-wrapper {
  display: block;
	position: relative;
	width: 100%;
	margin: 0 auto;
}

.color-wrapper p {
	margin-bottom: 5px;
}

.color-holder {
  position: relative;
  display: inline-block;
	background: #fff;
	cursor: pointer;
	border: 1px solid #AAA;
	width: 50px;
	height: 50px;
  margin-right: 25px;
  margin-left: 15px;
  margin-bottom: -20px;
}

.color-picker .color-item {
	cursor: pointer;
  display: inline-block;
	width: 22px;
	height: 22px;
	list-style-type: none;
	margin: 2px;
	border: 1px solid #DDD;
}

.color-picker .color-item:hover {
	border: 1px solid #666;
	opacity: 0.8;
	-moz-opacity: 0.8;
	filter:alpha(opacity=8);
}
